---
import { parseFilesToRoutes } from "@utils/paths";

import ReactMusicFlow from "@packs/music/index";
import SvelteMusicFlow from "@packs/music/index.svelte";

export async function getStaticPaths() {
  const files = import.meta.glob("../../../packs/*/*", {
    eager: true,
    import: "default",
  });
  return parseFilesToRoutes(files);
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <style>
      html,
      body {
        font-family: system-ui;
        margin: 0;
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    {
      Astro.params.pack === "music" && (
        <>
          {Astro.params.framework === "react" && (
            <ReactMusicFlow client:load clean />
          )}
          {Astro.params.framework === "svelte" && (
            <SvelteMusicFlow client:load />
          )}
        </>
      )
    }
  </body>
</html>
